# editor and misc backup files - anywhere
*~
.*~
*.bak
*.bak[0-9][0-9]
*.orig
*.orig[0-9][0-9]
\#*\#

# FireWorks output
FW.json
launcher_*/
func_*/

# Dependencies
*.dep

# Make directory
/Make/linux64GccDP/*
